body {
    margin: 0;
    position: relative;
}

body canvas, #instructions, .gui {
    position: absolute;
}

#instructions {
    width: 100vw;
    height: 100vh;
    background-color: black;
    cursor: pointer;
    display: flex;
}

#instructions h1 {
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 4em;
}

.gui {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    user-select: none;
}

#crosshair {
    animation: fadeInAnimation ease 1s;
    position: fixed;
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#discordlink {
    cursor: pointer;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

#tooltip {
    position: absolute;
    color: white;
    padding: 5px;
    border-radius: 5px;
    left: 50%;
    top: 80vh;
    transform: translateX(-50%);
    font-size: 40px;
    text-align: center;
    width: 300px;
    height: 100%;
}

.eye {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.eye-lid {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #000;
    animation: eyeOpen 2s forwards;
}

.eye-lid.top {
    top: 0;
}

.eye-lid.bottom {
    bottom: 0;
}

@keyframes eyeOpen {
    0% {
        height: 50%;
    }
    50% {
        height: 0;
    }
    100% {
        height: 0;
    }
}